# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.venv/
venv/

# Build / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Environment files
.env
.env.*

# VS / VS Code workspace files
.vs/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Arduino / PlatformIO outputs
.pio/
*.bin
*.elf
